.container {
  padding: 0.8rem 1rem;
  background: rgba(255, 255, 255, 0.09);
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.23);
  border-radius: 0.6rem;
  max-width: 510px;
  width: fit-content;
  min-height: 100%;
}
